* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

p{
  font-family: 'Trade Gothic'
}  

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column; 
  align-items: left;
  max-width: 610px;
  margin: 20px auto;
}


.form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding: 0 5%; 
}

.form-title{
  font-size: 1.8rem;
  margin-bottom: 5px;
  font-family: 'Trade Gothic';
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: rgb(119, 119, 119);
}

label {
  color: rgb(119, 119, 119);
  font-size: .8rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form-input {
  border: 2px solid rgb(162, 162, 162);
  outline: none;
  font-size: 1.1rem;  
  width: 100%;
  transition: border-color 0.3s ease;
  border-radius: 20px;
  padding: 1rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-input:focus {
  border: 5px solid rgb(208, 176, 252);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.email-input {
  padding-right: 140px; 
}

.input-wrapper::after {
  content: "@mail.utoronto.ca";
  position: absolute;
  right: 5%; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: rgb(119, 119, 119);
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.select {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;  
  font-size: 1rem;  
  padding: 1rem 1rem;
  border-radius: 20px;
  appearance: none;  
  background: transparent; 
  border: 2px solid rgb(162, 162, 162);
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"><polygon points="5,8 10,13 15,8"/></svg>');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0; 
  padding-right: 20px; 
}

.select:focus{
  border: 5px solid rgb(208, 176, 252);
}

.gender-select {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;  
  font-size: 1rem;  
  padding: 1rem 1rem;
  border-radius: 20px;
  appearance: none;  
  background: transparent; 
  color: rgb(0, 0, 0);  
  background-color: white;
  border: 2px solid rgb(162, 162, 162);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"><polygon points="5,8 10,13 15,8"/></svg>');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0; 
  padding-right: 20px;
}

.gender-select:focus {
  border: 5px solid rgb(208, 176, 252);
}

.select option {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  padding-left: .7rem;
}

.gender-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.other-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(162, 162, 162);
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



::placeholder { 
  color: rgb(162, 162, 162);
  opacity: 1; /* Override the browser default opacity */
  font-size: 1rem;
}


textarea {
  width: 100%;
  min-height: 120px; 
  border-bottom: 2px solid rgb(162, 162, 162);
  border-radius: 20px;
  outline: none;
  font-size: 1rem; 
  transition: border-color ease;
  margin-bottom: 8%;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  resize: vertical; 
}

textarea:focus {
  border: 5px solid rgb(208, 176, 252);
}

.submit-button {
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: rgb(114, 131, 241);  
  border: none;
  border-radius: 20px;
  padding: 3%;  
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;  
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: rgb(135, 160, 252);  
}

.greeting {
  width: 100%;
  text-align: center;
  color: rgb(119, 119, 119);  
  font-size: 18px;  
  padding-top: 1rem;
  margin: auto;
  margin-bottom: 10px;
}

.extra-info {
  flex: 1;
  max-width: 410px;
  margin: 20px auto;
}

.extra-info {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1em;
  border: solid 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ex-title {
  font-family: 'Trade Gothic';
  margin-bottom: .3em;
}

.ex-content{
  font-family: 'Trade Gothic';
  line-height: 1.5rem;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .form {
    width: 100%;
  }
}


@media screen and (min-width: 800px) and (max-width: 1124px) {
  .container {
    flex-direction: row;
    gap: 80px;
  }

  .form {
    max-width: 600px;
  }

  .extra-info {
    max-width: 288px;
    margin-top: 100px;
  }
}

@media screen and (min-width: 1124px) {
  .container {
    flex-direction: row;
    gap: 100px;
  }

  .form {
    width: 600px;
  }

  .extra-info {
    max-width: 414px;
    margin-top: 100px;
  }
}

.help-icon{
  margin-bottom: 5px;
}

@media screen and (max-width: 414px) {


  .form-title {
    font-size: 1.3rem; 
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {

  .form-title {
    font-size: 1.3rem; 
  }
}
